:root {
  --bg-color: #363b40;
  --side-bar-bg-color: #2e3033;
  --text-color: #b8bfc6;

  --select-text-bg-color: #4a89dc;

  --item-hover-bg-color: #0a0d16;
  --control-text-color: #b7b7b7;
  --control-text-hover-color: #eee;

  --active-file-bg-color: rgb(34, 34, 34);
  --active-file-border-color: #8d8df0;

  --primary-color: #a3d5fe;

  --active-file-text-color: white;
  --item-hover-bg-color: #70717d;
  --item-hover-text-color: white;
  --primary-color: #6dc1e7;

  --rawblock-edit-panel-bd: #333;
}

html,
body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Mplus1p", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #dedede;
  font-family: "Mplus1p Bold", sans-serif;
}

html {
  font-size: 16px;
}

h1 {
  font-weight: normal;
  line-height: 4rem;
  font-size: 3rem;
  margin: 0 0 1.75rem;
}

h2 {
  font-weight: normal;
  line-height: 3rem;
  margin: 0 0 1.9375rem;
}

h3 {
  font-weight: normal;
}

h4 {
  font-weight: normal;
}

h5 {
  font-size: 1.125rem;
  font-weight: normal;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}

p {
  color: #b8bfc6;
  font-size: 1rem;
  line-height: 1.75rem;
  margin: 0 0 1.25rem;
}

a {
  color: #990000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:link {
  color: #00ffff;
}

table {
  margin-bottom: 20px;
}

table th,
table td {
  padding: 8px;
  line-height: 1.25rem;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

table th {
  font-weight: bold;
}

table thead th {
  vertical-align: bottom;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}

table tbody + tbody {
  border-top: 2px solid #ddd;
}

blockquote {
  margin: 0 0 1.11111rem;
  padding: 0.5rem 1.11111rem 0 1.05556rem;
  border-left: 1px solid gray;
}

blockquote,
blockquote p {
  line-height: 1.6;
  color: #8f6f6f;
}

pre,
code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
